<div class="main-content">
    <div class="container-fluid">
            <app-person-data></app-person-data>
        <div class="row">
          <div class="col-md-6">
            <app-contact></app-contact>
          </div>
          <div class="col-md-6">
            <app-jobtitle-interested></app-jobtitle-interested>
          </div>
        </div>
        <div class="row">
          <div class="col-md-6">
            <app-academic-education></app-academic-education>
          </div>
          <div class="col-md-6">
            <app-language></app-language>
          </div>
        </div>
        <div class="row">
          <div class="col-md-12">
            <app-address></app-address>
          </div>
        </div>
    </div>
  </div>
  
  