<div class="card">
    <div class="card-header card-header-info">
            <div class="row">
                <div class="col-md-1">
                    <ng-content select="[icon]"></ng-content>
                </div>
                <div class="col-md-11">
                    <h4 class="card-title pl-2"> <ng-content  select="[title]"></ng-content></h4>
                    <p class="card-category pl-2"><ng-content select="[subtitle]"></ng-content></p>
                </div>
            </div>
    </div>
    <div class="card-body">
        <ng-content select="[body]"></ng-content>
    </div>
</div>

  